body
{
   background:gray;
   color:black;
   font-family:georgia;
}

.nopadding
{
   padding: 0 !important;
   margin: 0 !important;
}
span > i
{
   cursor: hand;
   cursor: pointer;
}

button
{
   background: #D0DEDE;
   border:solid 2px #6666ff;
   height:30px;
   border-radius:0px;
}

input
{
   background: #D0DEDE;
   border:solid 2px #6666ff;
   margin:0px;
   height:30px;
   -webkit-border-radius:0px;
   -webkit-appearance: none;
}

.unselectable
{
   -webkit-user-select: none;       
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
   cursor: default;
}

@media (min-width: 0em)
{
   .popup
   {
      width: 300px;
      height:130px;
      background:#D0DEDE;
      border: solid 2px #0B2275;
      color:black;
      font-size:14pt;
      position:fixed;
      margin: auto;
      top: 0; left: 0; right: 0; bottom: 0;
      text-align:center;
      padding-top:15px;
      display:none;
   }
   
   .popup > span
   {
      font-size:20pt;
   }
   
   .popup > span > i
   {
      cursor: hand;
      cursor: pointer;
      font-size:14pt;
      display:inline;
      margin-top:10px;
   }
}

@media (min-width: 48em)
{
   .popup
   {
      width: 400px;
      height:190px;
      background:#D0DEDE;
      border: solid 2px #0B2275;
      color:black;
      font-size:20pt;
      position:fixed;
      margin: auto;
      top: 0; left: 0; right: 0; bottom: 0;
      text-align:center;
      padding-top:18px;
      display:none;
   }
   
   .popup > span
   {
      font-size:30pt;
   }
   
   .popup > span > i
   {
      cursor: hand;
      cursor: pointer;
      font-size:20pt;
      display:inline;
      margin-top:10px;
   }
}

@media (min-width: 70em)
{
   .popup
   {
      width: 500px;
      height:220px;
      background:#D0DEDE;
      border: solid 2px #0B2275;
      color:black;
      font-size:25pt;
      position:fixed;
      margin: auto;
      top: 0; left: 0; right: 0; bottom: 0;
      text-align:center;
      padding-top:13px;
      display:none;
   }
   
   .popup > span
   {
      font-size:40pt;
   }
   
   .popup > span > i
   {
      cursor: hand;
      cursor: pointer;
      font-size:24pt;
      display:inline;
      margin-top:10px;
   }
}

.dropdown
{
   background:#6666ff;
   height:18px;
   border: solid 2px #6666ff;
   color: white;
   text-align: center;
   padding-top:-5px;
   cursor: hand;
   cursor: pointer;
}